@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}

.red{
    color: red;
}

.black{
    color: black;
}

.suit{
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
}

.upsideDown{
    transform: rotate(180deg);
}